body {
  width: 550px;

  margin: 0;
  padding: 0 30px;

  font-size: 40px;
  font-family: "Courier New", "Courier", monospace;
}

.serif-1 {
  font-family: "Georgia", serif;
}

.serif-2 {
  font-family: "Times New Roman", sans-serif;
}

.sans-serif-1 {
  font-family: "Verdana", serif;
}

.sans-serif-2 {
  font-family: "Tahoma", sans-serif;
}
